@using Purple.Models;
@model TeamMember

<div class="col-md-12">
    <form class="card" method="post" asp-action="create" asp-controller="teammember" asp-area="admin" enctype="multipart/form-data">
        <div class="card-header">
            <h3 class="card-title">Create Team Member</h3>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-3 col-form-label " asp-for="Name">Name</label>
                <div class="col">
                    <input asp-for="Name" class="form-control" placeholder="Enter Name">
                    <span class="text-danger" asp-validation-for="Name"></span>

                </div>
            </div>

            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-3 col-form-label " asp-for="Photo">Photo</label>
                    <div class="col">
                        <input asp-for="Photo" class="form-control" placeholder="Enter Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-3 col-form-label " asp-for="Position">Position</label>
                        <div class="col">
                            <input asp-for="Position" class="form-control" placeholder="Enter Position">
                            <span class="text-danger" asp-validation-for="Position"></span>
                        </div>
                    </div>
                </div>



                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
    </form>
</div>


@section Scripts {
    @Html.PartialAsync("ValidatePartialView")
} 