@using Purple.ViewModels.Work;
@model WorkCreateViewModel

<div class="col-md-12">
    <form class="card" method="post" asp-action="create" asp-controller="component" asp-area="admin">
        <div class="card-header">
            <h3 class="card-title">Create Component</h3>
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label class="col-3 col-form-label " asp-for="Title">Title</label>
                <div class="col">
                    <input asp-for="Title" class="form-control" placeholder="Enter Title">
                    <span class="text-danger" asp-validation-for="Title"></span>

                </div>
            </div>

            <div class="card-body">
                <div class="mb-3 row">
                    <label class="col-3 col-form-label " asp-for="Desc">Description</label>
                    <div class="col">
                        <input asp-for="Desc" class="form-control" placeholder="Enter Description">
                        <span class="text-danger" asp-validation-for="Desc"></span>
                    </div>
                </div>
                <div class="card-body">
                    <div class="mb-3 row">
                        <label class="col-3 col-form-label " asp-for="ImagePath">ImagePath</label>
                        <div class="col">
                            <input asp-for="ImagePath" class="form-control" placeholder="Enter ImagePath">
                            <span class="text-danger" asp-validation-for="ImagePath"></span>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-label">Select</div>
                    <select class="form-select" asp-for="@Model.CategoryIds" asp-items="@Model.Items" multiple>
                     </select>
                </div>
                <div class="card-footer text-end">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
    </form>
</div>